@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --finalapps-blue: 37 99 235;
  }

  * {
    @apply border-gray-200;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
}
